---
layout: layouts/base.njk
title: News
---

{%- for story in collections.news -%}
  <article id="{{ story.data.title | slug }}">
    <h1>{{ story.data.title }}</h1>
    <time>{{ story.data.date | ddMMyy }}</time>
    {{ story.templateContent | safe }}
  </article>
{%- endfor -%}
